.container {
  display: flex;
  height: 100vh;
  background: var(--background);
  justify-content: center;
}

.container .logo {
  text-align: center;
}

.container .informacoes {
  margin-top: -50px;
}

section {
  position: relative;
  top: 8%;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("../../files/images/wallpaper.jpg");
  filter: brightness(10%);
  z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo principal */
}

.container .catchphrase {
  color: var(--font-color);
  font-family: Norse, sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  animation: neonHeartbeat 2s alternate-reverse infinite;
}

@keyframes neonHeartbeat {
  0% {
    text-shadow: 0 0 10px rgba(0, 123, 255, 0.7),
      0 0 40px rgba(0, 123, 255, 0.7), 0 0 100px rgba(0, 123, 255, 0.7);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    text-shadow: 0 0 5px rgba(0, 123, 255, 0.7), 0 0 50px rgba(0, 123, 255, 0.7),
      0 0 60px rgba(0, 123, 255, 0.7);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.conteudo {
  display: grid;
  gap: 50px;
  box-shadow: 0 0 10px rgb(20, 20, 20);
  padding: 50px 30px;
  margin: 0 20px;
}

.conteudo .links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  justify-content: center;
}

.conteudo .links a {
  width: 100%;
  background-color: var(--background-links);
  border-radius: 50px;
  margin: 10px 0 0 0;
  transition: all 0.3s;
  box-shadow: 0 0 10px rgb(10, 10, 10);
}

.conteudo .links a:nth-child(1):hover {
  background: linear-gradient(266.42deg, #202225 0%, #292c2f 100%);
  transition: 2ms ease-in-out;
}

.conteudo .links a:nth-child(2):hover {
  background: linear-gradient(266.42deg, #c31d79 0%, #ee8b35 100%);
  transition: 2ms ease-in-out;
}

.conteudo .links a:nth-child(3):hover {
  background: linear-gradient(266.42deg, #1b8633 0%, #28a745 100%);
  transition: 2ms ease-in-out;
}

.conteudo .links a:nth-child(4):hover {
  background: linear-gradient(86.42deg, #f94e4f 0%, #c42122 100%);
  transition: 2ms ease-in-out;
}

.conteudo .links .texto {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Norse, sans-serif;
  font-weight: bold;
  color: var(--font-color-links);
  border-radius: 50px;
  font-size: 1.2rem;
  padding: 1rem;
}

.conteudo .links .texto:hover {
  color: #fff;
}

.conteudo .links .texto img {
  margin-right: 5px;
}

.conteudo .links a:hover img {
  filter: brightness(0) invert(1);
}

.texto {
  -webkit-animation: texto 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: texto 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes texto {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes texto {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* --------------------- Footer ------------------ */

footer {
  background-color: var(--background-links);
  color: #fff;
  padding: 18px;
  text-align: center;
  position: absolute;
  bottom: 0;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgb(20, 20, 20);
}

footer p {
  font-family: Norse, sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--font-color);
}

/* --------------------- Rain ------------------ */

.drop {
  position: absolute;
  z-index: 20000;
  bottom: 100%;
  width: 10px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear 500; /* Modificado para 1 iteração */
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(90vh);
  }
}

.stem {
  width: 2px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.25)
  );
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.splat {
  width: 15px;
  height: 10px;
  border-top: 2px dotted rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: splat 0.5s linear infinite;
}

.splat {
  display: block;
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  50% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
