/* Essas são as variáveis para usar no site e ficar mais escalável a edição */

.theme-light {
  --font-color: #000000;
  --background: url("../../files/images/diurno.jpg") center no-repeat;
  --background-links: rgba(255, 255, 255, 0.56);
}
.theme-dark {
  --font-color: #fff;
  --background: url("../../files/images/noturno.jpg") center no-repeat;
  --background-links: rgba(0, 0, 0, 0.56);
}

/* escuro #05182c
cinza-claro #c8e0e9
azul-claro #34bfd3
bluedark1 #1a5e78
bluedark2 #2184a3 */
