.hammer-container {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.hammer-container h3:nth-child(1) {
  position: absolute;
  top: 10%;
  color: #fff;
  font-family: Norse, sans-serif;
  font-size: 4rem;
  z-index: 9999;
  animation: lightningAnimation 10s infinite; /* Ajuste a duração conforme necessário */
}

.hammer-container h3:nth-child(2) {
  position: absolute;
  top: 60%;
  color: #fff;
  font-family: Norse, sans-serif;
  font-size: 4rem;
  z-index: 999999;
  animation: floatAnimation 3s infinite; /* Ajuste a duração conforme necessário */
}

@keyframes lightningAnimation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.hammer-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("../../files/images/wallpaper.jpg");
  filter: brightness(4%);
  z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo principal */
}

.hammer-container .wallpaper img {
  height: 100vh;
  width: 70vw;
}

.image-parent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Ocupa 100% da largura da .wallpaper */
  height: 100%; /* Ocupa 100% da altura da .wallpaper */
}

.image-parent img {
  width: 100%;
  height: 100%;
  /* Adicione estilos adicionais conforme necessário */
}

/* ----------------  Media Querys ---------------- */

/* Mobile */
@media only screen and (max-width: 767px) {
  .wallpaper .desktop-image {
    display: none; /* Esconde a imagem desktop em dispositivos móveis */
  }

  .hammer-container .wallpaper img {
    height: 100%;
    width: 100%;
  }

  .wallpaper .mobile-image {
    display: block; /* Mostra a imagem mobile em dispositivos móveis */
  }
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .wallpaper .desktop-image {
    display: block; /* Mostra a imagem desktop em dispositivos desktop */
  }

  .wallpaper .mobile-image {
    display: none; /* Esconde a imagem mobile em dispositivos desktop */
  }
}

/* --------------------- Canvas ------------------ */

canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#canvas3 {
  z-index: 5;
}

#canvas2 {
  z-index: 10;
}

#canvas1 {
  z-index: 100;
}
